{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="input" id="email" name="email">
    <label for="username">Username:</label>
    <input type="input" id="username" name="username">
    <button type="submit">Change Password</button>
</form>

{% if errors and request.method == 'POST'%}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
{% elif request.method == 'POST' %}
    <div class="alert alert-success" role="alert">User created successfully!</div>
{% endif %}
{% endblock %}