<!DOCTYPE html>
<html lang="ru">

<title>Авторизация</title>
<h1 align="center">Авторизация пользователя</h1>
<br>
<form method="post">
    <center>
        <lable for="username">Введите логин</lable>
        <input type="input" id="username" name="username">
        <br><br>
        <label for="userpassword">Введтите пароль</label>
        <input type="input" id="userpassword" name="userpassword">
        <br><br>
        <button type="submit">Войти</button>
    </center>
</form>
<br><br>
<center>
<button type="submit">Забыли пароль</button>
</center>