{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="password1">Password:</label>
    <input type="password" id="password1" name="password1">
    <label for="password2">Repeat Password:</label>
    <input type="password" id="password2" name="password2">
    <button type="submit">Change Password</button>
</form>

{% if errors and request.method == 'POST'%}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
{% elif request.method == 'POST' %}
    <div class="alert alert-success" role="alert">User created successfully!</div>
{% endif %}
{% endblock %}