<!DOCTYPE html>
<html lang="ru">

<title>Регистрация</title>
<h1 align="center">Регистрация пользователя</h1>
<br>
<form method="post">
    <center>
        <label for="username"> Логин </label>
        <input type="input" id="username" name="username">
        <br>
        <br>
        <lable for="userpasword"> Пароль </lable>
        <input type="input" id="userpasword" name="userpasword" >
        <br>
        <br>
        <lable for="userpasword2"> Повторите пароль </lable>
        <input type="input" id="userpasword2" name="userpasword2" >
        <br>
        <br>
        <button type="submit">ОТПРАВИТЬ</button>
        <button type="reset">стереть</button>
    </center>
</form>
<br>
<center><button type="submit">Я не помню свой пароль</button></center>
