<!DOCTYPE html>
<html lang="ru">

<title>Неделя</title>

<h1 align="center">День</h1>
<br><br>
<style>
     body {
    font-size: 1.5em; /* Размер текста */
   }
    table {
    border-collapse: collapse;
    width:90%;
    border-spacing: 1px;
   }
   td, th {
    border: 2px solid black;
    height: 40px;
    padding: 5px;
   }
</style>
<center>
    <table border="1">
        <tr>
            <th><a href="https://mathus.ru/olymp/lomonosov.php">Понедельник</a></th>
            <th><a href="">Вторник</a></th>
            <th><a href="">Среда</a></th>
            <th><a href="">Четвег</a></th>
            <th><a href="https://www.youtube.com/">Пятница</a></th>
            <th><a href="https://yandex.ru/">Суббота</a></th>
            <th><a href="">Воскресение</a></th>
        </tr>
    </table>
</center>