{% extends 'base.html' %}
{% block styles %}
    <style>
        body {
        font-size: 1.5em;
       }
    </style>
{% endblock %}

{% block content %}
<h1 align="center">Добавление предмета</h1>
<form method="post">
    {% csrf_token %}
    <center>
        <lable for="beginTime"> Время начала </lable>
        <input type="datetime-local" id="beginTime" name="beginTime">
        <br><br>
        <lable for="endTime"> Время конца </lable>
        <input type="datetime-local" id="endTime" name="endTime" >
        <br><br>
        <lable for="groups"> Группы </lable>
        <input type="input" id="groups" name="groups" >
        <br>
        <small>Если групп несколько вводить через пробел</small>
        <br>
        <small><small>(Пример:001 003 005)</small></small>
        <br><br>
        <small>Если группы нет, то она создастся</small>
        <br><br>
        <label for="subject"> Предмет </label>
        <input type="text" id="subject" name="subject"/>
        <br><br>
        <lable for="teacherName"> Преподаватель </lable>
        <select name="teacherName" id="teacherName">
            {% for teacher in teachers %}
                <option>{{ teacher.user.realname }}</option>
            {% endfor %}
        </select>
        <br><br>
        <lable for="link"> Ссылка </lable>
        <input type="input" id="link" name="link" >
        <br><br>
        <button type="submit">Добавить</button>
    </center>
</form>

{{ errors }}
{% endblock %}
