<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Добавленеие занятия</title>
    <style>
        body {
        font-size: 1.5em;
       }
    </style>
</head>

<body>
<h1 align="center">Добавление предмета</h1>
<form method="post">
    <center>
        <lable for="starttime"> Время начала </lable>
        <input type="datetime-local" id="starttime" name="starttime" >
        <br><br>
        <lable for="finishtime"> Время конца </lable>
        <input type="datetime-local" id="finishtime" name="finishtime" >
        <br><br>
        <lable for="group"> Группа </lable>
        <input type="input" id="group" name="group" >
        <br>
        <small>Если групп несколько вводить через пробел</small>
        <br>
        <small><small>(Пример:001 003 005)</small></small>
        <br><br>
        <lable for="subject"> Предмет </lable>
        <input type="input" id="subject" name="subject" >
        <br><br>
        <lable for="teacher"> Преподаватель </lable>
        <input type="input" id="teacher" name="teacher" >
        <br><br>
        <lable for="link"> Ссылка </lable>
        <input type="input" id="link" name="link" >
        <br><br>
        <button type="submit">Добавить</button>
    </center>
</form>
</body>