<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Добавленеие занятия</title>
    <style>
        body {
        font-size: 1.5em;
       }
    </style>
</head>

<body>
<h1 align="center">Добавление предмета</h1>
<form method="post">
    {% csrf_token %}
    <center>
        <lable for="beginTime"> Время начала </lable>
        <!--
         <input type="datetime-local" id="beginTime" name="beginTime" >
         -->
        <input type="datetime-local" id="beginTime" name="beginTime">
        <br><br>
        <lable for="endTime"> Время конца </lable>
        <input type="datetime-local" id="endTime" name="endTime" >
        <br><br>
        <lable for="groups"> Группа </lable>
        <input type="input" id="groups" name="groups" >
        <br>
        <small>Если групп несколько вводить через пробел</small>
        <br>
        <small><small>(Пример:001 003 005)</small></small>
        <br><br>
        <small>Если группы нет, то она создастся</small>
        <br><br>
        <lable for="title"> Предмет </lable>
        <input type="input" id="title" name="title" >
        <br><br>
        <lable for="teacherName"> Преподаватель </lable>
        <input type="input" id="teacherName" name="teacherName" >
        <br><br>
        <lable for="link"> Ссылка </lable>
        <input type="input" id="link" name="link" >
        <br><br>
        <button type="submit">Добавить</button>
    </center>
</form>
</body>