{% extends 'base.html' %}

{% block style %}
    <style>
        body {
        font-size: 1.5em;
       }
        table {
        border-collapse: collapse;
        width:90%;
        border: 4px solid #000;
        border-spacing: 1px;
       }
        th {
        background: #0f0;
        }
    </style>
{% endblock %}

{% block content %}
<h1 align="center">Расписание</h1>
{% if request.user.is_superuser %}
<form action="{% url 'addLesson' %}">
    <input type="submit" value="Добавить занятие" />
</form>
{% endif %}

<body>
<form method="post">
    {% csrf_token %}
    <br>
    <label for="group">Номер группы</label>
    <input type="input" id="group" name="group">
    <br>
    <label for="teacherName">Имя преподавателя</label>
    <input type="input" id="teacherName" name="teacherName">
    <br>
    <label for="title">Предмет</label>
    <input type="input" id="title" name="title">
    <br>
    <button type="submit">Отфильтровать</button>
    <br><br>
</form>
<table border="1">
    <tr>
        <th>Время начала</th>
        <th>Время конца</th>
        <th>Группа</th>
        <th>Предмет</th>
        <th>Преподаватель</th>
        <th>Ссылка</th>
    </tr>
    {% for lesson in lessons %}
    <tr>
        <td>{{lesson.beginTime}}</td>
        <td>{{lesson.endTime}}</td>
        <td>{% for group in lesson.groups %}
            {{group.name}}
        {% endfor %}</td>
        <td>{{lesson.title}}</td>
        <td>{{lesson.teacherName}}</td>
        {% autoescape off %}
        <td><a href="#asdf">{{lesson.link}}</a></td>
        {% endautoescape %}
    </tr>
    {% endfor %}
</table>
{% endblock %}